nav {
    background-color: lightblue;
    padding : .5rem;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

nav > ul  a {
    color: black;
    
}

.tournaments {
    text-align: center;
    padding: 1rem;
}


table td{
    background-color: lightgrey;
    width: 100px;
    height: 50px;
    text-align:  center;
  }

